html{
    background-color: grey;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: white;
    width:  60%;
    height: 60%;
    border-radius: 25px;
}

div.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}