html{
    background-color: grey;
}

body{
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

div.login-box {
    background-color: white;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 50px;
}

div.login-input{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.button{
    display: flex;
    justify-content: center;
    align-items: center;
}

input{
    width: 250px;
    height: 20px;
    border-width: 3px;
    border-color: black;
}


button{
    width: 250px;
    height: 50px;
    color: white;
    background-color: blue;
}

img{
    width: 500px;
    height: 250px;
    border-radius: 25px;
}